:root {
  --primary-clr: #ffffff;
  --secondary-clr: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.beranda-container {
  position: relative;
}

.beranda-container .header-section {
  display: flex;
  align-items: center;
  flex: 0 0 0;
}

.beranda-container .header-section .title-select-cont {
  display: flex;
  align-items: center;
}

.beranda-container .header-section .title {
  font-size: 3.6rem;
  margin-right: 3rem;
}

.beranda-container .header-section .select-milik {
  position: relative;
  font-size: 1.4rem;
  flex-grow: 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: 1px solid var(--secondary-clr);
  height: 4.5rem;
  cursor: pointer;
  margin-right: 3rem;
}

.beranda-container .header-section .select-milik span {
  pointer-events: none;
}

.beranda-container .header-section .select-milik .triangle {
  display: inline-block;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary-clr) transparent transparent transparent;
  margin-top: 2rem;
  transform: translateY(-60%);
  margin-left: 1rem;
}

.beranda-container .header-section .select-milik .list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  border: 1px solid var(--secondary-clr);
  background-color: var(--primary-clr);
  margin-top: 1rem;
  border-radius: 5px;
  z-index: 98;
}

.beranda-container .header-section .select-milik .list li {
  list-style: none;
  padding: 0.5rem 2rem;
}

.beranda-container .header-section .select-milik .list li:hover {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.beranda-container .header-section .select-milik.hide .list {
  display: none;
}

.beranda-container .header-section .search-input {
  font-size: 1.4rem;
  position: relative;
  height: 4.5rem;
  width: 20rem;
  border: 1px solid var(--secondary-clr);
  border-radius: 25px;
  overflow: hidden;
}

.beranda-container .header-section .search-input svg {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  z-index: 2;
}

.beranda-container .header-section .search-input input {
  padding: 1.5rem 2rem;
  padding-left: 3.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 25px;
  outline: none;
}

.beranda-container .select-status {
  margin-top: 2rem;
  position: relative;
  max-width: 250px;
  min-width: 150px;
  cursor: pointer;
}

.beranda-container .select-status p {
  font-size: 1.8rem;
  pointer-events: none;
}

.beranda-container .select-status p .triangle {
  display: inline-block;
  border-width: 6px;
  border-style: solid;
  border-color: var(--secondary-clr) transparent transparent transparent;
  display: inline-block;
  margin-top: 2rem;
  transform: translateY(30%);
  margin-left: 1rem;
  cursor: pointer;
  pointer-events: none;
}

.beranda-container .select-status .list {
  position: absolute;
  top: 100%;
  width: 70%;
  left: 0;
  border: 1px solid var(--secondary-clr);
  margin-top: 1rem;
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: var(--primary-clr);
  z-index: 99;
}

.beranda-container .select-status .list li {
  list-style: none;
  padding: 0.5rem 2rem;
}

.beranda-container .select-status .list li:hover {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.beranda-container .select-status.hide .list {
  display: none;
}

.beranda-container .list-section {
  margin-top: 5rem;
  overflow-y: auto;
  position: relative;
}

.beranda-container .list-section .table-container {
  border-collapse: collapse;
  position: relative;
}

.beranda-container .list-section .table-container .table-head {
  border-collapse: collapse;
  border-bottom: 1px solid #bababa;
  margin-bottom: 2rem;
}

.beranda-container .list-section .table-container .table-head th {
  padding: 1rem 10rem 2rem 0;
  font-size: 1.4rem;
  color: #bababa;
}

.beranda-container .list-section .table-container td {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 1rem 1rem 0;
}

.beranda-container .list-section .table-container td span {
  display: block;
  display: none;
}

.beranda-container .list-section .table-container td img {
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .beranda-container .header-section {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .beranda-container .header-section .title-select-cont {
    width: 100%;
    justify-content: space-between;
  }
  .beranda-container .header-section .title-select-cont .select-milik {
    margin: 0;
  }
  .beranda-container .header-section .title {
    font-size: 2.4rem;
    margin: 0;
  }
  .beranda-container .header-section .search-input {
    width: 100%;
    margin-top: 2rem;
  }
  .beranda-container .select-status {
    margin: 0;
  }
  .beranda-container .list-section .table-container .table-head {
    display: none;
  }
  .beranda-container .list-section .table-container td span {
    display: block;
    color: #bababa;
  }
  .beranda-container .list-section .table-container td:not(.item-name):not(.item-img) {
    display: none;
  }
}
