@import "./reset.scss";
@import "./mixins.scss";

.header {
  width: 100%;
  margin: 5rem 0;

  nav {
    max-width: 1366px;
    padding: 0 2rem;
    padding-right: 4rem;
    margin: auto;
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        list-style: none;
        margin-left: 6rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--secondary-clr);

        &.dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          // border: 1px solid red;

          .triangle {
            @include triangle;
            margin-left: 0.5rem;
            right: -120%;
            transform: translateY(-50%);
            margin-top: 2rem;
          }

          ul {
            position: absolute;
            border: 2px solid var(--secondary-clr);
            top: 200%;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 20rem;

            &.hide {
              display: none;
            }

            &::before {
              content: "";
              position: absolute;
              @include triangle;
              top: -13px;
              right: 1.5rem;
              transform: rotate(180deg);
            }

            a {
              padding: 1rem 2rem;

              li {
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
              }

              &:last-child {
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
