@import "./reset.scss";
@import "./mixins.scss";

.header {
  width: 100%;
  margin: 5rem 0;

  nav {
    // max-width: 1366px;
    // padding: 0 2rem;
    // padding-right: 4rem;
    margin: auto;
    ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      // border: 1px solid red;

      li {
        list-style: none;
        margin-left: 6rem;
        font-size: 1.8rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: var(--secondary-clr);

        &.back {
          // margin-left: auto;
          // margin: auto !important;
          margin-right: auto;
          // border: 1px solid blue;
          display: flex;
          align-items: center;
          margin-left: 0;

          // display: none;
        }
        input {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }

        &.dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          cursor: pointer;
          // margin: auto;
          // border: 1px solid red;

          svg {
            transition: transform 250ms ease;
            pointer-events: none;

            &.rotate {
              transform: rotateZ(45deg);
            }
          }

          .triangle {
            @include triangle;
            margin-left: 0.5rem;
            right: -120%;
            transform: translateY(-50%);
            margin-top: 2rem;
            pointer-events: none;
          }

          ul {
            position: absolute;
            border: 2px solid var(--secondary-clr);
            top: 200%;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 25rem;
            z-index: 99;
            background: var(--primary-clr);

            &.hide {
              display: none;
            }

            &::before {
              content: "";
              position: absolute;
              @include triangle;
              top: -13px;
              right: 1.5rem;
              transform: rotate(180deg);
            }

            a {
              li {
                padding: 0.5rem 2rem;
                margin: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &:hover {
                  background-color: var(--secondary-clr);
                  color: white;
                }
              }

              &:hover {
                background-color: var(--secondary-clr);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    nav {
      ul {
        justify-content: space-between;
        li {
          margin: 0;
          span {
            display: none;
          }
        }
      }
    }
  }
}
